# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/.name
.idea/NewMyScriptJS.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
TRACES/
bower.json
bower_components/
components.json
componentsout.json
input.json
output.json
scratchOutResults.json
src/
test/
/node_modules/
/bower_components/
