@import url(font/font.css);

body,html{margin:0;overflow-x:hidden}
body{padding:1em 4.6875%;font-family:SourceSansPro,HelveticaNeue,Helvetica,sans-serif;font-size:16px;line-height:22px}
table{font-size:inherit;line-height:inherit}
img{max-width:100%;margin:0 .25em;line-height:0;vertical-align:middle}
br+img{margin:1em 0;vertical-align:inherit}
dt{font-weight:700}
td {color: rgb(65, 75, 86);border: 1px solid #DBDBDB;}
td p{margin:0}
th {border: 1px solid #DBDBDB;padding: .3em .667em .3em .667em;background: #00AECE;text-align: center;color: rgb(255, 255, 255);}
h1{margin:1em 0;font-weight:500;color:#00a7cf}
*+h1:before{content:"";display:block;width:200%;height:1px;position:relative;left:-50%;margin-bottom:2em;background:#CCC}
.makebold,b,strong{font-weight:700}
.remark,em,i{font-style:italic}
.remark{color:#8e9fa3}
img[src*=bullet]{display:none}
p.remark{margin-left:0!important;padding:1.5em 2em;color:#5b6770;background-color:#f4f5f5;border-left:4px solid #00a7cf}
a:link{text-decoration:none;font-weight:500!important;color:#00a7cf}
a:hover{text-decoration:underline}
a:active,a:visited{color:#007d9b}
ol,ul{padding:0;list-style-position:inside}
li{margin:1em 0}
ol{counter-reset:ol-counter;list-style-type:none}
ol li:before{content:counter(ol-counter);counter-increment:ol-counter;display:inline-block;margin-right:.75em;font-weight:700;color:#000}
ul{list-style-type:none}
ul ul{padding-left:1em}
ul ul li:before{content:"\2022";margin-right:.5em;font-family:sans-serif;font-size:.85em;color:#000}
ul ul li:not(:first-of-type){margin-top:0}
ul ul li:not(:last-of-type){margin-bottom:0}
ul ul ul li:before{content:"\2022";margin-right:.75em;font-size:.75em;line-height:inherit;vertical-align:inherit;color:#9cabae}
.copyright{margin:0;font-size:13px;text-align:center;color:#8e9fa3}
.copyright:before{content:"";display:block;width:200%;height:1px;position:relative;left:-50%;margin-top:6em;margin-bottom:3em;background:#CCC}
.copyright+.copyright:before{content:none}
.copyright img{display:block;margin:0 auto;float:none!important}
.makebold {font-family:"Lucida Grande";font-size: 14px;font-weight: bold;color: #4B4B4B}
code {font-family: Consolas, Monaco, 'Andale Mono', monospace; color: #f8f8f2; background: #272822}
pre {font-family: Courier, Consolas, monospace;line-height: 18px;tab-interval: 0.5em;border: 1px solid #C7CFD5;	background-color: #F1F5F9;color: #666;padding: 0.3em 1em;}


code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: justify;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5; 

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap:break-word;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #929fab;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #fb5f98;
}

.token.boolean,
.token.number {
	color: #00c8ec;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #cede00;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
	color: #e6db74;
}

.token.keyword {
	color: #cf9ae6;
}

.token.important {
	color: #3CD5AF;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

