<!-- Features -->
<section class="section-feature">
    <div class="wrapper">
        <header>
            <h2>MyScriptJS is a free and open-source JavaScript library providing the easiest way to use MyScript Cloud handwriting recognition in your web app.</h2>
        </header>
        <div class="grid-3">
            <article>
                <h3>Handwriting input on the web? We've got you covered</h3>
                <p>MyScriptJS provides default implementation for common tasks involved in your handwriting user interface, including ink capture, rendering and requests to MyScript Cloud.</p>
            </article>
            <article>
                <h3>Start your project quickly</h3>
                <p>MyScriptJS is modular so you can pick only the objects you need. Code samples and an extensive documentation are provided so you can get it up and running easily.</p>
            </article>
            <article>
                <h3>Made for the long run</h3>
                <p>Using MyScriptJS instead of a custom wrapper for MyScript Cloud makes it easier to keep up with our latest developments. You can also share code or tips with the community, or contribute a new feature!</p>
            </article>
        </div>
    </div>
</section>