<!-- Features -->
<section class="section-feature">
    <div class="wrapper">
        <header>
            <h2>{{ site.description }}</h2>
        </header>
        <div class="grid-3">
            <article>
                <h3>Add handwriting to your web app</h3>
                <p>MyScriptJS provides default implementation for common tasks involved in your handwriting user interface, including ink capture, rendering and requests to the MyScript Cloud recognition service.</p>
            </article>
            <article>
                <h3>Start your project quickly</h3>
                <p>MyScriptJS is modular so you can pick only the objects you need. <a href="https://github.com/MyScript/MyScriptJS/tree/master/resources/samples" target="_blank">Code samples</a>, <a href="http://doc.myscript.com/MyScriptJS/1.0/reference/index.html" target="_blank">API reference</a> and an <a href="http://doc.myscript.com/MyScriptJS/1.0/index.html" target="_blank">extensive documentation</a> are provided so you can get it up and running easily.</p>
            </article>
            <article>
                <h3>Join the community</h3>
                <p>Using MyScriptJs makes it easier to keep up with our latest developments. Share code and tips with the community or contribute new features!</p>
            </article>
        </div>
    </div>
</section>