<!-- Footer -->

<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <article class="col-sm-6">
            <div class="item-title">Copyright © 2015 {{ site.company }}.<br> All rights reserved.</div>
            <div class="item-link"><a href="http://myscript.com/terms-of-use/" target="_blank">Terms of Use</a></div>
            <div class="item-link"><a href="http://myscript.com/privacy-policy/" target="_blank">Privacy Policy</a></div>
        </article>
        <article class="col-sm-3">
            <div class="item-title">Follow</div>
            {% for social in site.social %}
            <div class="item-link"><a href="{{ social.url }}" target="_blank">{{ social.title }}</a></div>
            {% endfor %}
        </article>
        <article class="col-sm-3">
            <div class="item-title">About</div>
            <div class="item-link"><a href="http://myscript.com/" target="_blank">About MyScript</a></div>
            <div class="item-link"><a href="http://dev.myscript.com/" target="_blank">MyScript Developer Portal</a></div>
        </article>
    </div><!-- .site-info -->
</footer>
