<!-- Page Content -->
<section class="section-highlight">
    <div class="wrapper">
        <header>
            <h2>Faster development</h2>
            <p>Speed up the development of handwriting interfaces with JavaScript through:</p>
            <br />
            <ul style="list-style-type:square">
                <li><strong><h4>Ink management:</h4></strong> Store strokes and benefit from a built-in undo/redo system.</li>
                <li><strong><h4>Ink rendering:</h4></strong> Attach a renderer to a HTML5 canvas to start capturing and displaying smooth strokes.</li>
                <li><strong><h4>Call to the recognizer:</h4></strong> MyScriptJS manages requests to MyScript Cloud as well as API calls, using HTTP/REST or WebSocket protocols (new in Cloud 3.0).</li>
                <li><strong><h4>All MyScript recognition types:</h4></strong> The object model of MyScriptJS supports the recognition of handwritten text, shapes, music notation and mathematical expressions.</li>
                <li><strong><h4>Result tree parsing:</h4></strong> The recognition result tree is exposed and fully traversable.</li>
                <li><strong><h4>Typesetting (coming soon):</h4></strong> Replace ink with digital equivalent, whether it is text, music, shapes or mathematical expressions.</li>
            </ul>
        </header>
    </div>
</section>