<!-- Presentation -->
<section class="section-hero container-fluid">
    <div class="wrapper">
        <header class="section-hero_header">
            <h1>{{ site.title }}</h1>
            <p>{{ site.subTitle }}</p>
        </header>
        <footer class="section-hero_footer">
            <a class="button button-github" href="https://github.com/MyScript/MyScriptJS" target="_blank">
                View on GitHub
            </a>
            <a class="button" href="http://doc.myscript.com/MyScriptJS/1.0/html/main/getting-started.html" target="_blank">
                Getting started
            </a>
        </footer>
    </div>
</section>