<!-- Features -->
<section class="section-product">
    <div class="wrapper">
        <header>
            <h2>MyScriptJS uses the MyScript Cloud recognition service, which offers online handwriting recognition for Text, Shape, Math and Music</h2>
        </header>
        <div class="grid-3">
            <article>
                <img src="img/product-icon-cloud.svg"/>
                <h3>MyScript Cloud recognition service</h3>
                <p>Online handwriting recognition, for text, shapes, music notation and mathematical expressions</p>
            </article>
            <article>
                <img src="img/product-icon-myscriptjs.svg"/>
                <h3>MyScriptJS</h3>
                <p>{{ site.subTitle }}</p>
            </article>
            <article>
                <img src="img/product-icon-components.svg"/>
                <h3>MyScript Web Components</h3>
                <p>Polymer Components for handwriting recognition in your Polymer app</p>
            </article>
        </div>
    </div>
</section>