<!-- Features -->
<section class="section-product">
    <div class="wrapper">
        <header>
            <h2>MyScriptJS is part of MyScript Cloud, a full stack for handwriting recognition on the web</h2>
        </header>
        <div class="grid-3">
            <article>
                <img src="img/product-icon-cloud.svg"/>
                <h3>MyScript Cloud API</h3>
                <p>Online handwriting recognition, for text, shapes, music notation and mathematical expressions</p>
            </article>
            <article>
                <img src="img/product-icon-myscriptjs.svg"/>
                <h3>MyScriptJS</h3>
                <p>The Javascript Library for MyScript Cloud</p>
            </article>
            <article>
                <img src="img/product-icon-components.svg"/>
                <h3>MyScript Web Components</h3>
                <p>Polymer Components for handwriting recognition in your Polymer app</p>
            </article>
        </div>
    </div>
</section>