#myScriptInkPaperDomElement {
    display: block;
    position: relative;
    height: 30vh;
    width: 99%;
    border: solid 2px #5bc0de;
    margin: 0 auto;
}
.tab-pane.row {
    margin-top: 0;
}
.container {
    max-width: 90vw;
}
.row {
    margin-top: 15px;
}

.json {
    font-size: 80%;
}

.json-editor {
    height: 54vh;
    max-height: 54vh;
}