.jumbotron {
    height: 300px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('img/jumbotron.jpg?1412763334');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.3))), url('img/jumbotron.jpg?1412763334');
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('img/jumbotron.jpg?1412763334');
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('img/jumbotron.jpg?1412763334');
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('img/jumbotron.jpg?1412763334');
    background-repeat: no-repeat;
    background-position: 0, 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.jumbotron .container {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    background: transparent;
}

#api-classes li > a,
#api-modules li > a {
    color: #7b8f9d;
    border-left: 4px solid transparent;
}

#api-classes li > a:hover, #api-classes li > a:focus,
#api-modules li > a:hover, #api-modules li > a:focus {
    background: none;
    color: #000;
}

#api-classes .active > a,
#api-modules .active > a {
    color: #000;
    background: none;
    border-left-color: #00afd9;
}

#api-classes .active > a:hover, #api-classes .active > a:focus,
#api-modules .active > a:hover, #api-modules .active > a:focus {
    color: #000;
    background: none;
    border-left-color: #00afd9;
}

#api-classes .disabled > a, #api-classes .disabled > a:hover, #api-classes .disabled > a:focus,
#api-modules .disabled > a, #api-modules .disabled > a:hover, #api-modules .disabled > a:focus {
    color: rgba(185, 192, 198, 0.5);
    background-color: transparent;
}

#api-classes .open > a, #api-classes .open > a:hover, #api-classes .open > a:focus,
#api-modules .open > a, #api-modules .open > a:hover, #api-modules .open > a:focus {
    color: #000;
    background: none;
    border-bottom-color: #00afd9;
}

#api-classes .nav > li > a,
#api-modules .nav > li > a {
    padding-left: 30px;
}

#api-classes .nav .nav > li > a,
#api-modules .nav .nav > li > a {
    padding-left: 60px;
}

#api-classes .nav .nav .nav > li > a,
#api-modules .nav .nav .nav > li > a {
    padding-left: 90px;
}

#api-classes .nav,
#api-modules .nav {
    display: none;
}

#api-classes > .active > ul,
#api-modules > .active > ul {
    display: block;
}

/* -- Generic Content Styles ------------------------------------------------ */

.method .name {
    font-size: 110%;
}

.link-docs {
    float: right;
    font-size: 15px;
    margin: 4px 4px 6px;
    padding: 6px 30px 5px;
}

.apidocs { zoom: 1; }

/* Generic box styles. */
.apidocs .box {
    border: 1px solid;
    border-radius: 3px;
    margin: 1em 0;
    padding: 0 1em;
}

/* A flag is a compact, capsule-like indicator of some kind. It's used to
   indicate private and protected items, item return types, etc. in an
   attractive and unobtrusive way. */
.apidocs .flag {
    background: #bababa;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    margin: 0 0.5em;
    padding: 2px 4px 1px;
}

/* Class/module metadata such as "Uses", "Extends", "Defined in", etc. */
.apidocs .meta {
    background: #f9f9f9;
    border-color: #efefef;
    color: #555;
    font-size: 11px;
    padding: 3px 6px;
}

.apidocs .meta p { margin: 0; }

/* Deprecation warning. */
.apidocs .box.deprecated,
.apidocs .flag.deprecated {
    background: #fdac9f;
    border: 1px solid #fd7775;
}

.apidocs .box.deprecated p { margin: 0.5em 0; }
.apidocs .flag.deprecated { color: #333; }

/* Module/Class intro description. */
.apidocs .intro {
    background: #f0f1f8;
    border-color: #d4d8eb;
}

/* Loading spinners. */
#bd.loading .apidocs,
#api-list.loading .yui3-tabview-panel {
    background: #fff url(../img/spinner.gif) no-repeat center 70px;
    min-height: 150px;
}

#bd.loading .apidocs .content,
#api-list.loading .yui3-tabview-panel .apis {
    display: none;
}

.apidocs .no-visible-items { color: #666; }

/* Generic inline list. */
.apidocs ul.inline {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.apidocs ul.inline li { display: inline; }

/* Comma-separated list. */
.apidocs ul.commas li:after { content: ','; }
.apidocs ul.commas li:last-child:after { content: ''; }

/* Keyboard shortcuts. */
kbd .cmd { font-family: Monaco, Helvetica; }

/* -- Generic Access Level styles ------------------------------------------- */
.apidocs .item.protected,
.apidocs .item.private,
.apidocs .index-item.protected,
.apidocs .index-item.deprecated,
.apidocs .index-item.private {
    display: none;
}

.show-deprecated .item.deprecated,
.show-deprecated .index-item.deprecated,
.show-protected .item.protected,
.show-protected .index-item.protected,
.show-private .item.private,
.show-private .index-item.private {
    display: block;
}

.hide-inherited .item.inherited,
.hide-inherited .index-item.inherited {
    display: none;
}

/* -- Generic Item Index styles --------------------------------------------- */
.apidocs .index { margin: 1.5em 0 3em; }

.apidocs .index h3 {
    border-bottom: 1px solid #efefef;
    color: #333;
    font-size: 13px;
    margin: 2em 0 0.6em;
    padding-bottom: 2px;
}

.apidocs .index .no-visible-items { margin-top: 2em; }

.apidocs .index-list {
    border-color: #efefef;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -moz-column-width: 170px;
    -ms-column-count: 4;
    -ms-column-gap: 10px;
    -ms-column-width: 170px;
    -o-column-count: 4;
    -o-column-gap: 10px;
    -o-column-width: 170px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -webkit-column-width: 170px;
    column-count: 4;
    column-gap: 10px;
    column-width: 170px;
}

.apidocs .no-columns .index-list {
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}

.apidocs .index-item { white-space: nowrap; }

.apidocs .index-item .flag {
    background: none;
    border: none;
    color: #afafaf;
    display: inline;
    margin: 0 0 0 0.2em;
    padding: 0;
}

/* -- Generic API item styles ----------------------------------------------- */
.apidocs .args {
    display: inline;
    margin: 0 0.5em;
}

.apidocs .flag.chainable { background: #46ca3b; }
.apidocs .flag.protected { background: #9b86fc; }
.apidocs .flag.private { background: #fd6b1b; }
.apidocs .flag.async { background: #356de4; }
.apidocs .flag.required { background: #e60923; }

.apidocs .item {
    border-bottom: 1px solid #efefef;
    padding-top: 10px;
    padding-bottom: 10px;
}

.apidocs .item h4,
.apidocs .item h5,
.apidocs .item h6 {
    color: #333;
    font-family: inherit;
    font-size: 100%;
}

.apidocs .item .description p,
.apidocs .item pre.code {
    margin: 1em 0 0;
}

.apidocs .item .meta {
    background: none;
    border: none;
    padding: 0;
}

.apidocs .item .name {
    display: inline;
    font-size: 14px;
}

.apidocs .item .type,
.apidocs .item .type a,
.apidocs .returns-inline {
    color: #555;
}

.apidocs .item .type,
.apidocs .returns-inline {
    font-size: 11px;
    margin: 0 0 0 0;
}

.apidocs .item .type a { border-bottom: 1px dotted #afafaf; }
.apidocs .item .type a:hover { border: none; }

/* -- Item Parameter List --------------------------------------------------- */
.apidocs .params-list {
    list-style: square;
    margin: 1em 0 0 2em;
    padding: 0;
}

.apidocs .param .param-description {
    padding-top: 2px;
}

.apidocs .param { margin-bottom: 1em; }

.apidocs .param .type,
.apidocs .param .type a {
    color: #666;
}

.apidocs .param .type {
    margin: 0 0 0 0.5em;
    *margin-left: 0.5em;
}

.apidocs .param-name { font-weight: bold; }

/* -- Item "Emits" block ---------------------------------------------------- */
.apidocs .item .emits {
    background: #f9f9f9;
    border-color: #eaeaea;
}

/* -- Item "Returns" block -------------------------------------------------- */
.apidocs .item .returns .type,
.apidocs .item .returns .type a {
    font-size: 100%;
    margin: 0;
}

/* -- Class Constructor block ----------------------------------------------- */
.apidocs .constructor .item {
    border: none;
    padding-bottom: 0;
}

.apidocs .constructor {
    padding-bottom: 10px;
}

/* -- File Source View ------------------------------------------------------ */
.apidocs .file pre.code,
#doc .apidocs .file pre.prettyprint {
    background: inherit;
    border: none;
    overflow: visible;
    padding: 0;
}

.apidocs .L0,
.apidocs .L1,
.apidocs .L2,
.apidocs .L3,
.apidocs .L4,
.apidocs .L5,
.apidocs .L6,
.apidocs .L7,
.apidocs .L8,
.apidocs .L9 {
    background: inherit;
}

/* -- Submodule List -------------------------------------------------------- */
.apidocs .module-submodule-description {
    font-size: 12px;
    margin: 0.3em 0 1em;
}

.apidocs .module-submodule-description p:first-child { margin-top: 0; }

/* -- Source File Contents -------------------------------------------------- */
.prettyprint li.L0,
.prettyprint li.L1,
.prettyprint li.L2,
.prettyprint li.L3,
.prettyprint li.L5,
.prettyprint li.L6,
.prettyprint li.L7,
.prettyprint li.L8 {
    list-style: decimal;
}
