.ms-editor {
    position: relative;
    z-index: 20;
}

.ms-editor canvas,
.ms-editor svg {
    z-index: 15;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.ms-editor canvas.ms-rendering-canvas,
.ms-editor svg {
    z-index: 10;
    pointer-events: none;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4gIDxnIGlkPSJQYWdlLTEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgIDxnIGlkPSJHcm91cCIgc3Ryb2tlPSIjRjVGNkY3Ij4gICAgICA8cGF0aCBpZD0iU2hhcGUiIGQ9Ik02LjUsMCBMNi41LDE4IE0wLDYuNSBMMTgsNi41Ii8+ICAgIDwvZz4gIDwvZz48L3N2Zz4=) 0 0/18px 18px;
}
